pkgbase = python-sphinx-autodoc-typehints
	pkgdesc = Type hints support for the Sphinx autodoc extension
	pkgver = 1.25.3
	pkgrel = 1
	url = https://github.com/tox-dev/sphinx-autodoc-typehints
	arch = any
	license = MIT
	checkdepends = python-nptyping
	checkdepends = python-pytest
	checkdepends = python-sphobjinv
	checkdepends = python-typing_extensions
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-sphinx
	optdepends = python-nptyping: for numpydoc support
	source = git+https://github.com/tox-dev/sphinx-autodoc-typehints.git#commit=d2955c6c1750cdee28b05a2bfe35a5c5c0f8a043
	sha512sums = SKIP

pkgname = python-sphinx-autodoc-typehints
