pkgbase = python-sphinx-autodoc-typehints
	pkgdesc = Type hints support for the Sphinx autodoc extension
	pkgver = 1.24.1
	pkgrel = 1
	url = https://github.com/tox-dev/sphinx-autodoc-typehints
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-sphobjinv
	checkdepends = python-nptyping
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-sphinx
	depends = python-typing_extensions
	source = git+https://github.com/tox-dev/sphinx-autodoc-typehints.git#commit=3eeb6641ae84e679636882269e03ed75dcc5a221
	sha512sums = SKIP

pkgname = python-sphinx-autodoc-typehints
